h1{
	font-family: Papyrus;
	text-align: center;
    color: #4b5320
}
h2{
    font-family: Papyrus;
	text-align: center;
    color: #4b5320
}
p{
    font-weight: bold;
	font-family: Florence;
	text-align: center;
    color: black
  }
html{
	background: linear-gradient(lightgrey, dimgrey) no-repeat;
	background-size: cover;
  	height:120%;
	overflow-y: scroll;
}
div{
	text-align: center;
}
.topnav {
	overflow: hidden;
  }
.topnav a {
	float: center;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: Courier New;
  }
.topnav a:hover {
	background-color: #ddd;
	color: black;
  }